body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #f8caca;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 25px;
  color: rgb(48, 48, 48);
}

.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-area input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.input-area button {
  cursor: pointer;
background-color: #ae8ffc;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 16px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.task-list li.completed {
  background-color: #e0ffe0;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.task-name {
  font-size: 16px;
}

.task-status {
  margin-left: 10px;
  font-weight: bold;
}

